# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Model Weights
*.pt
*.onnx

# Reports
reports/*.pdf

# OS Files
.DS_Store
Thumbs.db