# ----------------------------
# Virtual Environment
# ----------------------------
.venv/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Environment Variables
# ----------------------------
.env
frontend/.env

# ----------------------------
# Model Weights
# ----------------------------
*.pt
*.onnx

# ----------------------------
# Node
# ----------------------------
frontend/node_modules/
frontend/dist/

# ----------------------------
# Generated Uploads & Reports
# ----------------------------
backend/uploads/
backend/reports/

# ----------------------------
# YOLO Outputs
# ----------------------------
runs/
outputs/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db